{%extends 'base.html'%}
{%block head%} 
<title>dev_app_page</title>
<head>
	<style>
		html{
			background-color: azure;
		}
		div.r{
			width:60%;
			float:left;
		}
		div.p{
			width:20%;
			float:right;
			margin-left: 5%;
			margin-right: 5%;
		}
		fieldset{
			background-color:mistyrose;
			margin-bottom: auto;
			overflow: scroll;
		}
		

	</style>
</head>
{% endblock%}

{% block body%}

<h3>{{name}}</h3>
<p>
	<ul>
	<li>Size: {{size}} </li>
	<li>Rating: {{rating}} </li>
	<li>Price: {{price}} </li>
	<li>Category: {{category}}</li>
	<li>content rating: {{cont_rating}}</li>
	<li>languages supported: {{num_lang}}</li>
	<li>licensed : {{license}}</li>
	<li>description :{{app_desc}}</li>
	</ul>
</p>

<div class = "r" >
	<fieldset> 
	<legend>
	<h3>REVIEWS:</h3>
	</legend>
	<ol>
	{% for r in review%}
		<li> {{r[0]}}: {{r[1]}}</li>
    {% endfor %}
	</ol>
	</fieldset>
</div>

<div class = "p">
	<fieldset>
	<legend>
	<h3>USERS:</h3>
	</legend>
	<ol>
	{% for user_name in users%}
		<li>{{user_name}}</li>
	{%endfor%}
	</ol>
	</fieldset>
</div>

{%endblock%}

